<main class="hero-section">
  <div class="container">
    <div class="hero-content">
      <h1>Your <span class="text-red">Trusted</span> Auto<br>Repair Service<br>Provider</h1>
      <p>
        We offer reliable and efficient services to ensure your vehicle is always in top condition. Let us take care of your car, so you can focus on what matters most.
      </p>
      <div class="cta-buttons">
        <a href="#services" (click)="scrollToSection('services',$event)" class="btn-primary">View Services</a>
        <a routerLink="/auth/login" class="services-btn">Book Now</a>
      </div>
      <div class="slider-nav" aria-label="Hero navigation dots">
        <a href="#" class="nav-dot active" aria-label="Slide 1"></a>
        <a href="#" class="nav-dot" aria-label="Slide 2"></a>
        <a href="#" class="nav-dot" aria-label="Slide 3"></a>
      </div>
    </div>
  </div>
</main>