<main class="hero-section">
  <div class="container my-5">
    <div class="hero-content">
      <!-- <div class="welcome-banner">WELCOME TO D2D</div> -->
      <h1>Your <span class="text-red">Trusted</span> Auto<br>Repair Service<br>Provider</h1>
      <p>We offer reliable and efficient services to ensure your vehicle is always in top condition. Let us take care of
        your car, so you can focus on what matters most.</p>
      <div class="cta-buttons">

        <div class="slider-nav">
          <a href="#" class="nav-dot active"></a>
          <a href="#" class="nav-dot"></a>
          <a href="#" class="nav-dot"></a>
        </div>
      </div>
    </div>
  </div>
</main>
