<section class="about-us">
  <div class="container">
    <div class="about-content ">
      <div class="head-of-section">

        <h2>ABOUT US</h2>
        <h1>Our Repetitions Speaks For Itself.</h1>

      </div>
      <p>
        At Precision AutoCare, we specialize in high-quality car diagnostics and repair.
        With decades of experience and a commitment to excellence, we ensure your vehicle
        stays on the road safely and efficiently.
      </p>
      <button type="button" class="btn">learn More <i class="fa-solid fa-arrow-right"></i></button>
    </div>
    <div class="about-image">
      <img src="/assets/about-img/aboutt.jpg" alt="About Us - Auto Works" />
    </div>
  </div>
</section>