<section class="about-us">
  <div class="container services-container-card">
    <div class="head-of-section text-left mb-4">
      <h2>ABOUT US</h2>
      <p>Our Reputation Speaks For Itself.</p>
    </div>
         
    <div class="row g-3 mb-3">
      <div class="col-12 col-md-6">
        <div class="about-content">
          <p class="about-description">
       At Precision D2D Car, we specialize in high-quality car diagnostics and repair.
  With decades of experience and a strong commitment to excellence, we use advanced tools
  and certified expertise to keep your vehicle running smoothly. We value transparency,
  reliability, and your safety above all.
          </p>
        </div>
      </div>
                       
      <div class="col-12 col-md-6">
        <div class="about-image">
          <img src="/assets/about-img/aboutt.jpg" alt="About Us - Auto Works" />
        </div>
      </div>
    </div>
  </div>
</section>