body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.about-us {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
}

.about-us .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  gap: 30px;
  justify-content: space-between;
}

.about-content {
  min-width: 300px;
  max-width: 500px;
  font-size: 3rem;
  transition: var(--time-transition);
}

.about-content h1 {
  margin-bottom: 2rem;
  word-spacing: 1px;
  font-size: 2rem;
  width: 100%;
  max-width: 500px;
  overflow-wrap: break-word;
  color: var(--text-primary);
}

.about-content h2 {
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary);
}

.about-content p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--text-secondary);
}

.about-image img {
  width: 500px;
  max-width: 100%;
  filter: drop-shadow(3px 3px 5px var(--primary-color));
  border-radius: 8px;
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-hover);
  color: var(--text-primary);
}

@media (max-width: 992px) {
  .about-us .container {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  .about-content h1 {
    font-size: 1.8rem;
    max-width: 100%;
  }

  .about-content {
    width: 100%;
    text-align: left;
  }

  .about-image {
    width: 100%;
  }

  .head-of-section {
    font-weight: bold;
    max-width: 100%;
  }

  .about-content p {
    font-size: 0.7rem;
    max-width: 90%;
  }
}