body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--);
  color: #f0f0f0;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  gap: 30px;
  justify-content: space-evenly;
}

.about-content {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  transition: var(--time-transition);
}

.about-content h1 {
  margin-bottom: 2rem;
  word-spacing: 1;
  font-size: 2rem;
  text-indent: 0px;
  width: 70vh;
  text-wrap: wrap;
  color: var(--light);
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--light-font-color);
}

.about-image img {
  width: 300px;
  max-width: 100%;
  filter: drop-shadow(3px 3px 5px var(--primary-color));
}

.btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 0.85rem;
  margin-top: 2rem;
}

@media (max-width:992px) {
  .about-us {
    display: flex;
    flex-direction: row;
  }

  .about-content h1 {
    font-size: 1.8rem;
    width: 40vh;
  }

  .about-content p {
    font-size: 0.7rem;
    max-width: 90%;
  }
}