<div class="chart-header">
  <div class="header-content">
    <!-- Filter buttons removed. Filtering will use tab buttons in dashboard-home header. -->
  </div>
</div>

<div class="chart-content">
  <div class="chart-wrapper">
    <div *ngIf="loading" class="chart-loading">
      <div class="spinner"></div>
      <span>Loading chart...</span>
    </div>
    <div *ngIf="!loading">
      <canvas #chartCanvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType"
        style="width:100%;height:320px;display:block;"></canvas>
    </div>
  </div>
</div>