.navbar {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.7) 50%, var(--background-color) 100%);
  padding: 2rem 0;
}

.brand-highlight {
  color: var(--primary-color);
}

.nav-link {
  margin: 0 10px;
  position: relative;
  transition: all .2s ease-in-out;
  text-align: center;
}

.nav-link.active {
  color: var(--light);
  border-bottom: 1px solid var(--primary-color);
}

.nav-link:hover {
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--card-bg-color);
  opacity: 0.75;
  color: var(--light);
}

.btn-primary {
  background-color: var(--primary-color);
  transition: var(--time-transition);
  border: none;
  padding: 0.575rem 1rem;
  border-radius: .375rem;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: var(--time-transition);
  padding: 0.575rem 1rem;
  border-radius: .375rem;
}

.btn-outline-primary:hover {
  background-color: var(--background-color);
  box-shadow: -3px 3px 3px var(--hover-primary);
  transform: scale(1.05);
}

.search-form {
  --search-width: 220px;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.7) 50%, var(--background-color) 100%);
}

.search-input {
  width: var(--search-width);
  padding-right: 2.5rem;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--light);
  transition: var(--time-transition);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0;
  border: 2px solid var(--hover-primary);
  width: 280px;
}

.search-btn {
  position: absolute;
  right: 4px;
  background: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  padding: .35rem .5rem;
  cursor: pointer;
  color: var(--light);
  font-size: 1rem;
}

.auth-buttons .btn {
  min-width: 100px;
  width: 150px;
  text-align: center;
}


@media (max-width: 1118px) {
  .brand-logo {
    transform: translateX(-40%);
  }

  .navbar-collapse {
    width: 100%;
  }

  .search-form {
    width: 100%;
    margin-bottom: 8px;
  }

  .search-input {
    width: 100%;
  }

  .auth-buttons {
    width: 100%;
    justify-content: flex-start;
  }

  .auth-buttons .btn {
    flex: 1 1 48%;
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

  .container-fluid {
    flex-wrap: wrap;
    gap: 0.75rem;
  }

  .navbar-brand {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
  }

  .nav-item {
    width: 100%;
    margin: 10px;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .nav-link:hover {
    max-width: 100%;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}