<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'fixed-navbar': isFixed}">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand ms-5 d-flex align-items-center" routerLink="/">
      <img src="./assets/nav-img/logo.png" alt="D2D Logo" class="me-2" style="height: 60px; width: auto;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-0" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center me-3">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'home'" aria-current="page" href="#home"
            (click)="scrollToSection('home', $event)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'technicians'" href="#technicians"
            (click)="scrollToSection('technicians', $event)">Technicians</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'services'" href="#services"
            (click)="scrollToSection('services', $event)">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'about'" href="#about"
            (click)="scrollToSection('about', $event)">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'feedback' || activeSection === 'contact'"
            href="#contact" (click)="scrollToSection('contact', $event)">Contact</a>
        </li>
      </ul>


      <div class="d-flex auth-buttons flex-wrap gap-2">
        <a class="btn btn-outline-primary auth-signup" routerLink="/auth/sign-up">Sign Up</a>
        <a class="btn btn-primary auth-login" routerLink="/auth/login">Login</a>
      </div>
    </div>
  </div>
</nav>