:root {
  --primary-color: #222222;
  --secondary-color: #5b272a;
  --text-color: #333;
  --padding: 1rem;
  --border-radius: 16px;
  --card-bg-color: #2c2c2c;
  --icon-bg-color: #ff3b3be8;
  --icon-border-color: #ff3b3b96;
  --background-color: #1a1a1a;
  --time-transition: 0.3s ease-in-out;
  --line-height: 1.7;
  --font-size-small: 0.8rem;
  --light-font-color: #c0c0c0;
}

body {
  background-color: var(--background-color);
}

.head-of-section {
  padding-top: 40px;
  padding-bottom: 10px;
  font-weight: 600;

  h2 {
    color: var(--icon-bg-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 0px;
  }

  p {
    font-size: 40px;
    color: white;
  }
}
